- if (post)
  section#post
    h1= post['name']
    div.img_container
      img(src=post['pic_big'])
    div.attributes
      ul
        li
          p.heading when:
          p= post['full_time']
        li
          p.heading where: 
          p= post['location']
    span.description= post['description']

